{% extends 'main/base.html' %}

{% block content %}
    <div>
        <div>
            <h3>Add a password</h3><br>
        </div>
        <form action='' method="POST">
            {% csrf_token %}

            <label for="app_name"><h6>App Name:</h6></label><br>
            <input type="text" name="app_name" id="app_name" required><br><br>
    
            <label for="username"><h6>User Name or ID:</h6></label><br>
            <input type="text" name="username" id="" required><br><br>
    
            <label for="password"><h6>Password:</h6></label><br>
            <input type="text" name="password" id="" required><br><br>

            <input type="submit" value="Submit">
        </form>

        <br><h6><a href="{% url 'see-password' %}">See Passwords</a></h6>
    </div>
{% endblock %}