{% extends 'main/base.html' %}

{% block content %}
    <div>
        <h3>Here's all saved passwords</h3>
        <table>
            <tr style="border-color: #96D4D4;">
                <th>App Name</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
            {% for pw in user %}
                <tr style="border-color: #96D4D4;">
                    <td style="border-color: #96D4D4;">{{pw.app_name}}</td>
                    <td style="border-color: #96D4D4;">{{pw.username}}</td>
                    <td style="border-color: #96D4D4;">{{pw.password}}</td>
                </tr>
            {% endfor %}
        </table>
        <br><h6><a href="{% url 'add-password' %}">Add Password</a></h6>
    </div>
{% endblock %}